@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

* {
	box-sizing: border-box;
}

body{
	margin:0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
