.inputWrapper {
	position: relative;
	margin: 24px 0;
}

.inputBar {
	height: 2px;
	width: 100%;
	background: #9098a9;
	transition: .1s all;
}

.label {	
	position: absolute;
	top: 3px;
	left: 0;
	font-size: 16px;
	color: #9098a9;
	transition: .2s ease-out all;
}

.input {
	color: #9098a9;
	font-size: 20px;
	border: none;
	line-height: 22px;
	width: 100%;
	background: none;
}

.searchInput {
	color: black;
	font-size: 20px;
	border: none;
	line-height: 22px;
	width: 100%;
	background: none;
}

.input:focus,
.searchInput:focus {
	outline: none;
}

.input:focus + .label,
.searchInput:focus + .label {
	top: -22px;
	font-size: 13px;
}

.input:not(:placeholder-shown) + .label,
.searchInput:not(:placeholder-shown) + .label {
	top:-22px;
	font-size: 13px;
}

.input:focus ~ .formItemBar,
.searchInput:focus ~ .formItemBar {
	background: #7d7d7d;
}

.input:not(:focus):invalid ~ .formItemBar,
.searchInput:not(:focus):invalid ~ .formItemBar {
	background: red;;
}