.button {
    font-size: 10px;
    text-decoration: none;
    padding: 7px 12px;
    font-weight: 500;
    background: rgb(200, 235, 223);
    border: 2px solid black;
	color: black;
	margin-bottom: 24px;
}

