.wrapper {
	list-style: none;
    padding: 0 30px 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}

.subWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	place-content: center center;
	position: relative;
	max-width: 40%;
	min-width: 30%;
	border-style: dotted;
}
.checkbox {
		position: absolute;
		align-items: right;
		margin-left: 30px;
		width: 50px;
		height: 50px;
		right: 20px;
	}

.remove {
	position: absolute;
	right: 0;
	top: 9px;
	width: 30px;
	height: 40px;
	color:rgba(53, 177, 134, 0.5)
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	place-content: center center;

	.info {
		display: flex;
		flex-direction: row;
		place-content: center flex-start;
		align-items: center;
		flex-wrap: nowrap;
	}
}

.itemName {
	font-size: 30px;
	padding: 5px 20px 5px 20px;
	text-transform: capitalize;
	margin-left: 10px;
}

.itemNameBought{
	font-size: 30px;
	padding: 5px 20px 5px 20px;
	text-transform: capitalize;
	position: relative;


	&::after {
		border-bottom: 0.125em solid rgba(200, 235, 223, 0.5);
		content: "";
		left: 0;
		line-height: 1em;
		margin-top: calc(0.125em / 2 * -1);
		position: absolute;
		right: 0;
		top: 50%;
	}
}

.itemQuantity {
	font-weight: 300;
	font-size: 30px;
	padding: 10px;
	margin-left: 10px;
	border-style: solid;
	background-color: rgb(200, 235, 223);
}

.itemQuantityBought{
	font-size: 30px;
	padding: 5px 20px 5px 20px;
	text-transform: capitalize;
	position: relative;

	&::after {
		border-bottom: 0.125em solid rgba(200, 235, 223, 0.5);
		content: "";
		left: 0;
		line-height: 1em;
		margin-top: calc(0.125em / 2 * -1);
		position: absolute;
		right: 0;
		top: 50%;
	}
}