.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 20px 20px 20px 0;
  color: black;
  font-weight: lighter;
  
  input {
    opacity: 0;
    position: absolute;
  }
  
  &Button {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
  }
  
  input:checked + &Button  {
    background-color: rgb(0, 83, 135);
	box-shadow: inset 0 0 0 2px white;
	border: 2px solid rgb(0, 83, 135);
	color: rgb(0, 83, 135);
  }
}