.wrapper {
  overflow-y: scroll;
  padding: 70px 80px 50px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60vw;
  background-color: white;
  box-shadow: 0 20px 40px -5px rgba(#CEBB9B, .3);
  position: fixed;
  height: 100vh;
}