.wrapper {
  overflow-y: scroll;
  padding: 70px 80px 50px;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
//   width: 60vw;
  max-width: 500px;
  min-width: 300px;
  background-color: white;
  box-shadow: 0 20px 40px -5px rgba(#CEBB9B, .3);
  position: fixed;
//   height: 60vh;
  max-height: calc(100vh - 20vh);
  display: flex;
  flex-direction: column;
}

.header{
	display: grid;
	grid-template-columns: 1fr 100px;
	align-items: center;
	padding: 30px 40px;
}

.closeButton {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 40px;
	height: 40px;
	opacity: 0.5;
	background:white;
	font-weight: 800;
	border-radius: 20%;
}